<p class="landing-page-title">Mockingjay</p>
<p class="landing-page-description">Mockingjay is a workflow application design to ease your project planning, development and records tracking all in one place</p>
<section class="panels-container">
  <div class="panel-row">
    <landing-page-panel class="panel-item" [faClassName]="'fa-file-text-o'" [title]="'Create Record'" [description]="'File new record easily in Mockingjay'"></landing-page-panel>
    <landing-page-panel class="panel-item" [faClassName]="'fa-sitemap'" [title]="'My Items'" [description]="'View all items that belong to you in one place'"></landing-page-panel>
    <landing-page-panel class="panel-item" [faClassName]="'fa-archive'" [title]="'Planning'" [description]="'A place to view all the backlog items'"></landing-page-panel>
    <landing-page-panel class="panel-item" [faClassName]="'fa-th-large'" [title]="'Scrum / Kanban Board'" [description]="'View your kanban board or scrum board'"></landing-page-panel>
  </div>
  <div class="panel-row">
    <landing-page-panel class="panel-item" [faClassName]="'fa-tachometer'" [title]="'Dashboard'" [description]="'An overview of all the things such as projects statistic and activities'"></landing-page-panel>
    <landing-page-panel class="panel-item" [faClassName]="'fa-desktop'" [title]="'Project Management'" [description]="'Manage your project that you have administrator privilege'"></landing-page-panel>
    <landing-page-panel class="panel-item" [faClassName]="'fa-newspaper-o'" [title]="'Administrative'" [description]="'A place to view and manage all the projects and records'"></landing-page-panel>
    <landing-page-panel class="panel-item" [faClassName]="'fa-question'" [title]="'????????'" [description]="'?????????????????????????????'"></landing-page-panel>
  </div>
</section>

