body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #4b4b4b;
  margin: 0;
}

ul.nav-bar {
  overflow: hidden;
  list-style-type: none; /* Remove the bullets */
  /* Remove browser default settings */
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #cd201f;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.4), -2px -7px 30px rgba(0, 0, 0, 0.15) inset;
}

ul.nav-bar > li {
  float: left;
}

ul.nav-bar > li > a {
  display: block;
  /*background-color: #cd201f;*/
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  min-width: 40px;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

ul.nav-bar > li > a:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.logo-container {
  padding: 8px 5px 0 15px;
}

ul.nav-bar > li.app-title > a {
  padding-left: 0;
  padding-top: 10px;
  padding-right: 60px;
  font-weight: 600;
  font-size: 17px;
}

ul.nav-bar > li.app-title > a:hover {
  background-color: transparent;
}

.nav-bar .fa {
  margin-left: 8px;
}

.nav-bar .icon {
  display: none;
}

/*
 * When the screen is less than 680 pixels wide, hide all list items, except for the
 * first one ("Home"). Show the list item that contains the link to open and close the
 * topnav (li.icon)
 */
@media screen and (max-width:760px) {
  .nav-bar li:not(:first-child):not(:nth-child(2)):not(:last-child) {display: none;}
  .nav-bar li.icon {
    float: right;
    display: inline-block;
  }
}

/*
 * The 'responsive' class is added to the navigation bar with JavaScript when the user click
 * on the icon. This class makes the navigation bar look good on small screens.
 */
@media screen and (max-width:760px) {
  .nav-bar.responsive {position: relative;}
  .nav-bar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.responsive li:not(:first-child):not(.icon) {
    float: none;
    display: inline;
  }
  .nav-bar.responsive li a {
    display: block;
    text-align: left;
  }
  .nav-bar.responsive li.icon a {
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  ul.nav-bar#navBar  li.app-title {
    display: none;
  }

  ul.nav-bar#navBar  li.logo-container {
    display: inline-block;
    float: none;
  }
}


.landing-page-title {
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}

.landing-page-description {
  text-align: center;
  font-size: 1.3em;
  margin: 0 5em;
}

.panels-container {
  padding: 5px 20px;
}

.panel-row {
  display: flex;
  margin-top: 40px;
}

.panel-item {
  flex: 1;
}

.landing-page-panel-container {
  text-align: center;
  margin: 10px 20px;
}

.landing-page-panel-container .panel-title {
  background-color: rgba(238, 238, 238, 0.8);
  padding: 5px 7px;
  margin: 15px 0;
  color: #414141;
  font-weight: bold;
  font-size: 1.2em;
}

.footer-container {
  border: 1px solid rgba(238, 238, 238, 0.8);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
  background-color: rgba(238, 238, 238, 0.2);
}

.footer-content {
  color: #666;
  font-size: 12px;
}

a {
  transition: color .4s;
  color: #265C83;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}
.link {
  font-weight: bold;
  color: #007BE6;
  text-decoration: none;
}

h1 {
  color: #369;
  font-size: 250%;
}

h2 {
  color: #313131;
  font-size: 180%;
}

h4 {
  color: #ae1235;
  font-size: 200%;
}
