body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #282828;
  margin: 0;
}

ul.nav-bar {
  overflow: hidden;
  list-style-type: none; /* Remove the bullets */
  /* Remove browser default settings */
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #cd201f;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.4), -2px -7px 30px rgba(0, 0, 0, 0.15) inset;
}

ul.nav-bar > li {
  float: left;
}

ul.nav-bar > li > a {
  display: block;
  /*background-color: #cd201f;*/
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  min-width: 40px;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

ul.nav-bar > li > a:hover {
  /*background-color: #b31217;*/
  background-color: rgba(0, 0, 0, 0.15);
}

.logo-container {
  padding: 8px 5px 0 15px;
}

ul.nav-bar > li.app-title > a {
  padding-left: 0;
  padding-top: 10px;
  padding-right: 60px;
  font-weight: 600;
  font-size: 17px;
}

h1 {
  color: #369;
  font-size: 250%;
}

h2 {
  color: #313131;
  font-size: 180%;
}

h4 {
  color: #ae1235;
  font-size: 200%;
}
